<form>
    <div>
        <label for="bookingName">Name</label>
        <input id="bookingName" type="text" aria-label="Name" />
    </div>
    <div>
        <label for="bookingEmail">Email</label>
        <input id="bookingEmail" type="text" aria-label="Email" />
    </div>
    <div>
        <label for="bookingGig">Gig Details</label>
        <input id="bookingGig" type="textarea" />
    </div>
</form>