<div>
    <img class="img-fluid" src="img/main-photo.png" alt="Da Boyz">
</div>

<div class="row">
    <div class="col" <section>
        <h1>Bio</h1>
        <p>A band with a dream and lots of ambition.</p>
        <p>RedHorizon is a 4-man Alternative Rock Band Started back near the end of 2019 when lead singer Daniel Darling
            and drummer Michael Williams got together to start making music. After a few months of searching, lead
            guitarist Jacob Freedland and bassist Stuart Brougher, who would later leave the group, were added to the
            roster. With all the pieces in place the band went straight to work on their first song Run and started
            playing bar gigs around Washington DC.</p>
        <p>When the Covid19 pandemic hit, the band was unable to play out in front of anyone or even really meet to
            rehearse but even the pandemic couldn't slow them down. It was during this time of lock down that the band
            was able to write, record, and produce their very first EP <a contents="'Y'" data-link-label=""
                data-link-type="url"
                href="https://open.spotify.com/album/655K4hATNbMcp6NmXDuNdk?si=V8gArRQERVOP_ZPePr8Q2w"
                target="_blank">'Y'</a>. After finishing their first EP Stuart had to leave the band for personal
            reasons and this is when they brought on Frederick Nesfield as Bassist for the band. </p>
        <p>With big dreams RedHorizon puts 110% into every song and every gig. Ready to take on bigger venues and reach
            bigger audiences its only a matter of time before this local DC band takes off to even greater heights.</p>
    </div>
</div>
</section>